input {
  height: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.2rem;
  font-size: 0.85rem;
}

.add-election-form input,
.one-el-form input {
  width: 25vw;
}

.create-user-cont input {
  width: 25vw;
}

.user-content input {
  max-width: 20vw;
  min-width: 16vw;
  width: auto;
}

/* header styles */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem;
  padding: 2rem;
  width: 80%;
  height: 0.1vw;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.392);
  border-radius: 3rem;
  color: white;
}

.control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.system-img,
.log-out-img {
  width: 1.5em;
}

.system,
.log-out {
  border: none;
  background-color: white;
  border-radius: 5em;
  padding: 1em;
  margin: 0.3em;
  width: 4rem;
  height: 4em;
  transition: 0.3s;
}

.system:hover,
.log-out:hover {
  border: 1px solid rgb(151, 146, 146);
  background-color: rgb(228, 228, 228);
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  padding: 0.15rem;
  border-radius: 5rem;
  font-size: 0.9rem;
  font-weight: 400;
}

/*Main section styles*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 98%;
}

.get-res-btn,
.gen-qr-btn,
.get-qr-btn,
.users-btn,
.add-election-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  width: 7rem;
  height: 7rem;
  border: none;
  font-weight: bold;
  background-color: transparent;
  transition: 0.2s;
}

.get-res-img,
.gen-qr-img,
.get-qr-img,
.users-img,
.add-btn-img {
  border-radius: 1rem;
  padding: 0.2rem;
  width: 5rem;
  transition: 0.3s;
}

.get-res-img:hover,
.gen-qr-img:hover,
.get-qr-img:hover,
.users-img:hover,
.add-btn-img:hover {
  border: 1px solid black;
  background-color: rgba(220, 217, 217, 0.537);
}

/* Election list  */

.election-box {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 98%;
}

.election-list {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  border-top: 2px solid black;
}

.election-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0.3rem;
  width: auto;
  height: auto;
  padding: 1.5rem;
  border: 1px solid gray;
  border-radius: 2rem;
  transition: 0.2s;
}

.election-btn:hover {
  background-color: black;
  color: white;
}

.election-img {
  background-color: rgb(237, 236, 236);
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  width: 5vw;
  height: auto;
  padding: 0.2rem;
}

/* add election */

.see-user-box {
  flex-direction: column;
}

.see-user-box,
.add-election,
.one-election {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(1, 1, 1, 0.2);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.blur {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: auto;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.user-content,
.content,
.cont-one-el {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: white;
  max-width: 70vw;
  border-radius: 2rem;
  padding: 3rem;
  max-height: 85vh;
  transition: 0.3s;
  overflow: auto;
}

.user-content {
  justify-content: center;
  align-items: center;
  margin: 1rem;
  max-width: 80vw;
  max-height: none;
  
}

.one-el-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.close-tool-btn,
.close-btn,
.close-btn-user,
.close-btn-one-el {
  padding: 0px;
  margin: 1rem;
  margin-right: -94%;
  margin-top: 0%;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50em;
}

.close-btn-user {
  margin-right: 50%;
  margin-left: 50%;
  background-color: white;
  width: 4rem;
  height: 4rem;
  margin-top: 4%;
}

.tool-name {
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

.close-tool-img,
.close-img,
.close-img-one-el {
  width: 2.5rem;
}

.options,
.topic,
.election-name,
.election-form {
  margin: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-election-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-option-btn,
.add-option-btn-update {
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 0.5rem;
  border: none;
  background-color: transparent;
  width: 9rem;
  height: 4rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  border: 0.2px solid gray;
}

.add-option-img {
  width: 3rem;
  padding: 0.5rem;
}

.remove-title,
.remove-option,
.remove-option-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  border: none;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  transition: 0.3s;
}

.extra-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.extra-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.next-btn,
.submit-btn {
  align-items: center;
  justify-content: center;
  padding: 2.3rem;
}

.next-btn,
.next-img,
.submit-btn,
.submit-img {
  width: 4rem;
  height: 4rem;
  margin: 0.3rem;
  border: none;
  border-radius: 1rem;
  transition: 0.3s;
}

.next-btn:hover,
.submit-btn:hover,
.remove-title:hover,
.remove-option:hover,
.add-option-btn:hover,
.add-option-btn-update:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}

.next-btn:hover,
.add-option-btn:hover,
.add-option-btn-update:hover,
.remove-title:hover,
.remove-option:hover {
  background-color: rgb(244, 192, 95);
}

.submit-btn:hover {
  background-color: rgb(167, 228, 75);
}

.button-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.yes-btn,
.no-btn {
  border: none;
  color: white;
  padding: 1rem;
  margin: 0.2rem;
  border-radius: 1rem;
  transition: 0.3s;
}

.yes-btn {
  background-color: rgb(52, 102, 52);
}
.no-btn {
  background-color: rgb(92, 37, 37);
}

.yes-btn:hover,
.no-btn:hover {
  color: white;
  background-color: gray;
}

.close-agree {
  display: flex;
  flex-direction: row;
}

.added-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.2rem;
  font-size: 1.2rem;
  color: rgb(68, 135, 42);
  border: 0.5px solid black;
  border-radius: 2rem;
  padding: 1rem;
}

.mail-box {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.mail-button {
  border: none;
  width: auto;
  background: orange;
  font-size: 0.8rem;
  padding: 0.6rem;
  border-radius: 2rem;
  margin: 0.5rem;
}

.mail-box input {
  width: 18vw;
  padding: 0.7rem;
}

.add-topic,
.delete-el-btn,
.update-el {
  font-size: 1rem;
  color: white;
  width: auto;
  padding: 1.2rem;
  border-radius: 3rem;
  border: none;
  margin: 0.2rem;
  transition: 0.2s;
}

.add-topic {
  background-color: rgb(136, 105, 47);
}

.delete-el-btn {
  background-color: rgb(97, 17, 17);
}

.update-el {
  background-color: rgb(27, 101, 10);
}

.add-topic:hover,
.delete-el-btn:hover,
.update-el:hover {
  opacity: 0.5;
}

.option-update-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.one-topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-user-cont {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: start;
  border-radius: 1rem;
  width: 80vw;
  height: fit-content;
  padding: 2rem;
  overflow: auto;
  border: 1px solid black;
}

.create-user-btn {
  background-color: rgb(146, 102, 20);
  color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.392);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7vw;
  height: 7vh;
  margin: 0.5rem;
  border-radius: 2rem;
  border: none;
  transition: 0.2s;
}

.create-user-btn:hover {
  background-color: rgb(233, 163, 33);
  color: black;
}

#role {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7vw;
  height: 5vh;
  border: 1px solid black;
  border-radius: 0.7rem;
  font-size: 1rem;
}

.users-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 2rem;
  width: 100%;
  min-height: 14rem;
  overflow: hidden;
}

.one-user {
  display: flex;
  align-items: center;
  justify-content: start;
  max-width: 95vw;
  width: 95%;
  padding: 0.5rem;
  margin: 0.5rem;
  overflow: auto;
}

.save-user,
.delete-user,
.edit-user {
  width: 4vw;
  height: 5vh;
  border-radius: 0.5rem;
  border: none;
  transition: 0.2s;
}

.save-user {
  background-color: green;
  color: white;
}

.delete-user {
  margin-left: 1rem;
  margin-right: 0.5rem;
  background-color: rgb(153, 39, 39);
  color: white;
}

.edit-user {
  background-color: rgb(199, 131, 5);
  color: white;
}

.save-user:hover,
.delete-user:hover,
.edit-user:hover {
  border: 1px solid white;
  opacity: 0.5;
}

.titles {
  background-color: white;
  padding: 1rem;
  border-radius: 2rem;
  margin: 0.5rem;
  border: 2px solid black;
}

.main-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  border: 2px solid gray;
  padding: 1.5rem;
}


.tools-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 2rem;
  margin: 2rem;
  width: 90%;
}

.tool-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
}

.tool-cont input {
  width: 15rem;
}

.tool-cont select,
.tool-cont button {
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 0.6rem;
}

.gen-qr,
.delete-codes,
.clear-box,
.clear-box-get,
.get-codes,
.download-codes,
.download-result,
.get-result,
.delete-result,
.clear-box-result {
  color: white;
  border: none;
  background-color: rgb(15, 114, 15);
  transition: 0.3s;
  margin: 0.2rem;
}

.clear-box,
.download-codes,
.download-result {
  background-color: rgb(181, 108, 43);
}

.delete-codes,
.delete-result {
  background-color: rgb(133, 26, 26);
}

.clear-box-get,
.clear-box-result {
  background-color: rgb(210, 162, 17);
}

.tool-cont button:hover {
  opacity: 0.6;
}

.close-tool-btn {
  display: flex;
  position: relative;
  margin: 0px;
}

.token-output {
  text-align: center;
  font-size: 1rem;
  width: 30%;
  resize: vertical;
  overflow: auto;
  margin: 0.2rem;
  margin-bottom: 10px;
}

.generated {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 30%;
  max-width: 100%;
}

.token-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.token-list {
  padding: 0.5rem;
  margin: 1rem;
  border: 1px solid rgb(184, 180, 180);
  background-color: rgb(241, 241, 241);
  border-radius: 2rem;
}

.token-display:disabled {
  width: fit-content;
  width: 17vw;
}

.token-status:disabled {
  text-align: center;
  width: fit-content;
  width: 2vw;
}

.valid {
  background-color: rgba(13, 186, 13, 0.452);
  color: rgb(7, 7, 7);
}

.invalid {
  background-color: rgba(192, 35, 35, 0.626);
  color: rgb(0, 0, 0);
}

.tok-count-box input {
  font-size: 1.1rem;
  text-align: center;
  text-justify: auto;
  margin: 0.5rem;
  margin-bottom: 2rem;
  padding: 1rem;
  min-width: 1vw;
  max-width: 5vw;
}

.tok-valid {
  background-color: rgb(57, 158, 57);
  color: white;
}

.tok-used {
  background-color: red;
  color: white;
}

.tok-count {
  background-color: rgb(55, 131, 198);
  color: white;
}

.selected {
  padding-bottom: 0.5rem;
  border-bottom: 3px solid rgba(249, 146, 2, 0.864);
}

#charts {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 3rem;
}

.chart-container {
  min-width: 20vw;
  padding: 1rem;
  border-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container h4 {
  text-align: center;
  margin-bottom: 12px;
  font-size: 16px;
}

.el-res {
  font-size: 2rem;
  margin: 2rem;
}

/* Settings */

.settings-box {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.toggle {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 32vw;
  margin: 1.5rem;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border: 2px solid rgb(107, 101, 101);
  padding: 1rem;
  border-radius: 2rem;
  transition: 0.3s;
}

.toggle:hover {
  background-color: rgb(107, 101, 101);
  color: white;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: 0.25s;
  &:before,
  &:after {
    content: "";
  }
  &:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
  }
  .toggle:hover &:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  }
  .toggle-checkbox:checked + & {
    background: green;
    &:before {
      left: 30px;
    }
  }
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}
.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
  user-select: none;
  outline: none;
}

.ip-rest-cont,
.trust-rest-cont {
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(107, 101, 101);
  border-radius: 0.5rem;
  padding: 2rem;
}

.ip-rest-cont input {
  width: auto;
  padding: 1.5rem;
  font-size: 1.3rem;
}
.ip-rest-cont button {
  width: auto;
  padding: 1.2rem;
  margin: 0.5rem;
  border: none;
  color: white;
  background-color: green;
  transition: 0.3s;
}

/* Media Queries */

@media (max-width: 1023px) {

  .token-display:disabled,
  .token-status:disabled {
    width: 55vw;
  }


  .mail-box input,
  .create-user-cont  input,
  .user-content input,
  .add-election-form input,
  .one-el-form input,
  input {
    max-width: none;
    width: 55vw;
  }

  .user-content {
    padding: 1.5rem;
    overflow: hidden;
  }

  .create-user-cont button,
  .one-user button {
    margin: 0.3rem;
    width: 30vw;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
  }

  .tok-count-box input{
    font-size: 11px;
    margin: 0.3rem;
    max-width: 15vw;
  }

  .mail-box,
  .token-box {
    flex-direction: column;
  }


  .users-list {
    border: 1px solid gainsboro;
    border-radius:1rem ;
    padding: 1rem;
    margin: 0px;
    width: 98%;
    overflow: scroll;
    overflow-x: hidden;
  }

  .one-user {
    display: flex;
    align-items: center;
    padding: 1rem;
    min-height: 25vh ;
    border: 2px solid gray;
    border-radius: 1rem;
    width: 65vw;
    flex-direction: column;
  }

  header {
    width: 80%;
  }

  .chart-container {
    min-width: 0px;
    padding: 0px;
    width: 75vw;
    border-radius: 12px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    flex-direction: column;
    align-items: center;
  }
  
  .chart-container h4 {
    text-align: center;
    margin-bottom: 12px;
    font-size: 16px;
  }

  .user-info {
    display: none;
  }

  .add-election {
    padding: 0px;
    margin: 0px;
  }

  .election-list {
    justify-content: center;
  }

  .content,
  .create-user-cont,
  .cont-one-el {
    padding: 2rem;
    margin: 0px;
    max-width: 98vw;
    max-height: 98vh;
    height: auto;
    min-width: 80vw;
  }


  .one-topic
  .topic,
  .one-el-form,
  .election-form {
    margin: 0px;
    width: 98%;
  }



  .create-user-cont {
    height: auto;
    width: auto;
    flex-direction: column;
    overflow: auto;
  }

  .toggle-label,
  .toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 70%;
  }

  .ip-rest-cont,
  .trust-rest-cont {
    flex-direction: column;
    width: 95%;
  }

  .ip-rest-cont input {
    width: 70%;
    font-size: 0.7rem;
    overflow: scroll;
  }

  .tools-box {
    flex-direction: column;
  }

  .settings-box {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px;
    margin: 0px;
    width: 95%;
  }

  .ip-res-box,
  .trust-dev-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
  }

  #role,
  .create-user-btn {
    width: auto;
  }

  .tool-cont,
  .generated {
    flex-direction: column;
    align-items: center;
  }

  .tool-cont {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px;
    margin: 0px;
    width: 95%;
  }

  .one-el-btns,
  .button-box {
    display: flex;
    flex-direction: column;
  }

  .delete-user,
  .save-user,
  .edit-user {
    width: 6rem;
  }

  main {
    width: 95%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .gen-qr-img,
  .get-qr-img,
  .del-qr-img,
  .users-img,
  .next-img,
  .get-res-img,
  .add-btn-img,
  .election-img {
    border-radius: 0.5rem;
    padding: 0.2rem;
    width: 4rem;
    transition: 0.3s;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  header {
    width: 90%;
  }

  .create-user-cont {
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    flex-direction: row;
  }

  #role,
  .create-user-btn {
    height: 2.5rem;
    width: 7rem;
  }

  .create-user-cont input {
    width: auto;
  }

  .users-list input {
    width: auto;
  }

  .create-user-cont {
    overflow: hidden;
  }

  .one-el-form input,
  .content input {
    max-width: 30vw;
    width: 27vw;
  }

  .delete-user,
  .save-user,
  .edit-user {
    width: 6rem;
  }
}
