/* General Styles for dashboard elements */

input {
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.2rem;
  font-size: 0.85rem;
  background-color: #edf0f1;
  color: #0a3c43;
}

select {
  background-color: #edf0f1;
}

.election-selector,
.election-selector-get {
  width: 16rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*Main section styles*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 98%;
  flex-grow: 1;
}

/* Modal styles */
#revealModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.modal-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #bdc3c7;
  padding: 2rem;
  width: 90%;
  max-width: 65%;
  border-radius: 2rem;
}

.modal-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.modal-cont button {
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  border: none;
  transition: 0.3s;
}

.modal-cont input {
  min-width: 50%;
}

.modal-cancel:hover {
  background-color: #e74c3c;
  opacity: 0.8;
  color: white;
}

.modal-proceed:hover {
  background-color: #27ae60;
  opacity: 0.8;
  color: white;
}

.modal-cont p {
  text-align: center;
  color: #333;
  font-size: 1rem;
}

.modal-cont span {
  color: #b00020;
  font-weight: 600;
}

.modal-cont strong {
  color: #000;
}

/* General styles */
.tools-box,
.tool-cont,
.tool-name,
.generated {
  transition: 0.3s;
}

/* Blur effect  */

.blur {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: auto;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: #ecf0f1;
  max-width: 70vw;
  border-radius: 2rem;
  padding: 3rem;
  max-height: 85vh;
  transition: 0.3s;
  overflow: auto;
}

.close-tool-btn,
.close-btn,
.close-btn-user {
  padding: 0px;
  margin: 1rem;
  margin-right: -94%;
  margin-top: 0%;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50em;
}

.close-btn-user {
  margin-right: 50%;
  margin-left: 50%;
  background-color: #ecf0f1;
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 4%;
}

.tool-name {
  margin: 1rem;
  align-items: center;
  justify-content: center;
  outline: none; /* Remove focus outline */
  user-select: none; /* Prevent selection */
}

.close-tool-img,
.close-img,
.close-img-one-el {
  width: 2.5rem;
}

.add-option-img {
  width: 3rem;
  padding: 0.5rem;
}

.remove-title,
.remove-option,
.remove-option-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  border: none;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  transition: 0.3s;
}

.extra-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.extra-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.next-btn:hover,
.submit-btn:hover,
.remove-title:hover,
.remove-option:hover,
.add-option-btn:hover,
.add-option-btn-update:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}

.next-btn:hover,
.add-option-btn:hover,
.add-option-btn-update:hover,
.remove-title:hover,
.remove-option:hover {
  background-color: #f39c12;
}

.yes-btn,
.no-btn {
  border: none;
  color: #ecf0f1;
  padding: 1rem;
  margin: 0.2rem;
  border-radius: 1rem;
  transition: 0.3s;
}

.yes-btn {
  background-color: #27ae60;
}
.no-btn {
  background-color: #d35400;
}

.yes-btn:hover,
.no-btn:hover {
  color: #ecf0f1;
  background-color: #34495e;
}

.close-agree {
  display: flex;
  flex-direction: row;
}

.option-update-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.one-topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tools-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  margin: 2rem;
  width: 90%;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  background-color: #ecf0f186;
  border-left: 1px solid #7f8c8d;
  border-top: 1px solid #7f8c8d;
}

.tool-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
  transition: 0.3s;
}

.tool-cont input {
  width: 15rem;
}

.tool-cont select,
.tool-cont button {
  cursor: pointer;
  padding: 0.6rem;
  border-radius: 0.6rem;
}

.gen-qr,
.delete-codes,
.clear-box,
.clear-box-get,
.get-codes,
.download-codes,
.download-result,
.get-result,
.delete-result,
.clear-box-result {
  color: #ecf0f1;
  border: none;
  background-color: #27ae60;
  transition: 0.3s;
  margin: 0.2rem;
}

.clear-box,
.download-codes,
.download-result {
  background-color: #f39c12;
}

.delete-codes,
.delete-result {
  background-color: #d35400;
}

.clear-box-get,
.clear-box-result {
  color: #3b5e81;
  background-color: #f4d03f;
}

.tool-cont button:hover {
  opacity: 0.6;
}

.close-tool-btn {
  display: flex;
  position: relative;
  margin: 0px;
}

.generated {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 30%;
  max-width: 100%;
}

.selected {
  transition: 0.2s;
  padding-bottom: 6.5rem;
  border-bottom: 3px solid #34495e;
}

.toggle {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 32vw;
  margin: 0.5rem;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border: 2px solid rgb(107, 101, 101);
  padding: 1rem;
  border-radius: 2rem;
  transition: 0.3s;
}

.toggle:hover {
  background-color: #34495e;
  color: #ecf0f1;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: 0.25s;
  &:before,
  &:after {
    content: "";
  }
  &:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
  }
  .toggle:hover &:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  }
  .toggle-checkbox:checked + & {
    background: green;
    &:before {
      left: 30px;
    }
  }
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
  user-select: none;
  outline: none;
}

/* Media Queries */

@media (max-width: 900px) {
  input {
    max-width: none;
    width: 55vw;
  }

  .tok-count-box input {
    font-size: 11px;
    margin: 0.3rem;
    max-width: 15vw;
  }

  .close-btn-one-el,
  .close-btn {
    margin-top: 7%;
    margin-right: -70%;
  }

  .close-btn-user {
    display: block;
    position: absolute;
    top: 0.5%;
    right: 2%;
    margin: 0;
  }

  .content {
    padding: 2rem;
    margin: 0px;
    min-height: 100vh;
    min-width: 100vw;
  }

  .one-topic,
  .topic,
  .election-form {
    margin: 0px;
    width: 100%;
  }

  .toggle-label,
  .toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 70%;
  }

  .tools-box {
    flex-direction: column;
  }

  .tool-cont,
  .generated {
    flex-direction: column;
    align-items: center;
  }

  .tool-cont {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px;
    width: 95%;
  }

  main {
    width: 95%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .selected {
    transition: 0.2s;
    padding-bottom: 0;
    border-right: 0.3rem solid #34495eaa;
    background-color: rgb(220, 221, 229);
    border-bottom: none;
  }
}
