/* Login Page Styles */

.login-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

/* Welcome Text and Box */

.welcome-text {
  margin: 2rem;
}

.welcome-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  padding: 3rem;
  height: fit-content;
  border-radius: 3rem;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  background-color: #ecf0f186;
  border-left: 1px solid #7f8c8d;
  border-top: 1px solid #7f8c8d;
}

/* Input Fields */
input {
  font-family: "Orbitron", sans-serif;
  border: 0.1rem solid gray;
  border-radius: 2rem;
  font-weight: 400;
  font-size: 1rem;
  width: 100%;
  height: 2em;
  padding: 0.8rem;
  outline: none;
  transition: 0.5s;
}

input::placeholder {
  color: #888;
}

input:hover {
  border-color: #4e5cc6;
  transition: 0.5s;
}

input:focus {
  border-color: #2047aa;
  box-shadow: 0 0 3px rgba(18, 32, 122, 0.464);
}

/* Login Form Styles */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35vw;
  margin: 3rem auto;
  padding: 1.5rem;
  background-color: #ecf0f186;
  border-left: 1px solid #7f8c8d;
  border-top: 1px solid #7f8c8d;
  border-radius: 2rem;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.form-row {
  position: relative;
  display: flex;
  margin: 1rem auto;
}

/* Login Button Styles */
.login-btn {
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.12rem solid gray;
  background-color: #07082b;
  color: white;
  font-size: 1.2rem;
  transition: 0.5s;
}

.login-btn:hover {
  background-color: #1f5b86;
  transition: 0.5s;
}

/* General Styles */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* Styling for the side message */
.side-message {
  position: fixed;
  bottom: 20%;
  right: 0;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.85);
  color: #ffffff;
  padding: 10px 15px;
  border: 1px solid #1f5b86;
  font-family: "Orbitron", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  z-index: 9999;
  border-radius: 5px;
  display: none;
}

/*consten Form */
#consentBox {
  font-size: 0.9rem;
}

#consentCheckbox {
  border: none;
  font-size: initial;
  font-weight: initial;
  width: 1rem;
  height: 1rem;
  padding: 0rem;
  margin: 0rem;
}

/* Reveal Modal Styles */
#revealModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.modal-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #edf2f6;
  padding: 2rem;
  max-width: 80%;
  border-radius: 2rem;
  transition: 0.5s;
}

.modal-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.modal-cont button {
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  border: none;
  transition: 0.3s;
  background-color: #7f8c8d;
  color: white;
}

.modal-cont input {
  max-width: 40%;
  height: 1rem;
}

.modal-cancel:hover {
  background-color: #e74c3c;
  opacity: 0.8;
  color: white;
}

.modal-proceed:hover {
  background-color: #27ae60;
  opacity: 0.8;
  color: white;
}

.modal-cont p {
  text-align: center;
  max-width: 30rem;
  color: #333;
  font-size: 1rem;
}

/* Styling for the forgot password link */

.forgot-password {
  cursor: pointer;
  margin: 0.6rem;
  font-size: 0.9rem;
  transition: 0.2s;
}

.forgot-password:hover {
  color: #1c4dc9;
}

/* Show Password Button */

.show-password {
  position: absolute;
  top: 0.9rem;
  right: 0.7rem;
  border: none;
  background-color: transparent;
}

.show-password:focus {
  outline: none;
}

.password-toggle {
  width: 2.2rem;
}

/* Footer Styles */
footer {
  background-color: #f0f0f0;
  color: #333;
  font-size: 0.8rem;
  padding: 1.5rem 1rem;
  margin-top: auto;
  width: 100vw;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.05);
  border-top: 1px solid #ddd;
  text-align: center;
  box-sizing: border-box;
}

footer p {
  text-align: center;
  margin: 0rem;
  max-width: 50rem;
  margin-inline: auto;
  line-height: 1.7;
}

/* Responsive Design: Make sure the login form adapts larger screens */
@media (max-width: 1023px) {
  .login-form,
  .welcome-box {
    margin: 1rem;
    padding: 5rem;
  }

  .login-container {
    margin-top: 1rem;
    justify-content: center;
  }

  .welcome-box {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .welcome-text {
    margin: 0.6rem;
  }

  main {
    flex-direction: column;
  }

  input {
    width: auto;
    max-width: 70vw;
    font-size: 1rem;
  }

  footer {
    font-size: 0.75rem;
  }

  .password-toggle {
    width: 1.5rem;
  }

  .side-message {
    left: 0;
    right: 0;
    top: unset;
    bottom: 0;
    transform: unset;
    font-size: 0.9rem;
    padding: 10px;
  }
}
