.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35vw;
  margin: 3rem auto;
  padding: 1.5rem;
  background-color: rgba(234, 231, 223, 0.352);
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

input {
  font-family: "Orbitron", sans-serif;
  border: 0.1rem solid gray;
  border-radius: 2rem;
  font-weight: 400;
  font-size: 1.5rem;
  width: 100%;
  height: 2em;
  padding: 0.8rem;
  outline: none;
  transition: 0.5s;
}

input::placeholder {
  color: #888;
}

input:hover {
  border-color: #4e5cc6;
  transition: 0.5s;
}

input:focus {
  border-color: #2047aa;
  box-shadow: 0 0 3px rgba(18, 32, 122, 0.464);
}

.form-row {
  position: relative;
  display: flex;
  margin: 1rem auto;
}


.login-btn {
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.12rem solid gray;
  background-color: #07082b;
  color: white;
  font-size: 1.2rem;
  transition: 0.5s;
}

.login-btn:hover {
  background-color: #1f5b86;
  transition: 0.5s;
}

.welcome-text {
  margin: 2rem;
}

.welcome-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  padding: 3rem;
  height: fit-content;
  border-radius: 3rem;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  background-color: rgba(234, 231, 223, 0.352);
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}

.login-form {
  border-radius: 2rem;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.show-password {
  position: absolute;
  top: 1.22rem;
  right: 0.7rem;
  border: none;
  background-color: transparent;
}

.show-password:focus {
  outline: none;
}

.password-toggle {
  width: 2.2rem;
}

footer {
  background-color: #f0f0f0;
  color: #333;
  font-size: 0.7rem;
  padding: 1.5rem 1rem; 
  margin-top: auto;
  width: 100vw; 
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.05);
  border-top: 1px solid #ddd;
  text-align: center;
  box-sizing: border-box; 
}
footer p {
  text-align: center;
  margin: 0rem;
  max-width: 50rem;
  margin-inline: auto;
  line-height: 1.7;
}


@media (max-width: 1023px) {

  .login-form,
  .welcome-box {
    margin: 1rem;
    padding: 5rem;
  }

  .login-container {
    margin-top: 1rem;
    justify-content: center;
  }
  

  .welcome-box {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .welcome-text {
    margin: 0.6rem;
  }

  main {
    flex-direction: column;
  }

  input {
    width: auto;
    max-width: 70vw;
    font-size: 1rem;
  }

  footer {
    font-size: 0.65rem;
  }

  .password-toggle {
    width: 1.5rem;
  }
}
