/* Message Container */
.message {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0rem;
  top: 2rem;
  padding: 1.6rem;
  width: auto;
  height: 6rem;
  font-weight: 500;
  background-color: #eef5f6;
  border-radius: 20rem;
  border-top-right-radius:0rem ;
  border-bottom-right-radius: 0rem;
  box-shadow: rgba(164, 164, 146, 0.319) 0px 5px 15px;
  transition: 0.1s;
  z-index: 10001;
}

.OK {
  border: 2px solid #27ae60;
  border-right: none;
}

.error {
  border: 2px solid #e74c3c;
  border-right: none;
}

@media (max-width: 900px) {

  .OK {
    border: 1px solid #27ae60;
    border-right: none;
  }
  
  .error {
    border: 1px solid #e74c3c;
    border-right: none;
  }

  .message {
    font-size: 0.9rem;
    height: 4rem;
    max-width: 85vw;
  }
}