/* Input Fields */
input {
  width: 20rem;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 3rem;
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid gray;
  border-color: #34495e;
}

/* Reset Password Form */
.reset-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  width: 70vw;
  border-radius: 1rem;
  background-color: #e7f1f48c;
  border-right: 1px solid #7f8c8d;
  border-bottom: 1px solid #7f8c8d;
}

.reset-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Title */
.title {
  text-align: center;
  color: #34495e;
  margin: 1.5rem;
  padding: 1.5rem;
  font-size: 1.5rem;
  background-color: white;
  border-radius: 3rem;
  background-color: #ecf0f186;
  border-left: 1px solid #7f8c8d;
  border-top: 1px solid #7f8c8d;
}

/* Reset Button */
.reset {
  align-items: center;
  appearance: none;
  background-color: #ecf0f1;
  border-radius: 5px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #34495e;
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 0.7rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 1.2rem;
  margin: 1rem;
  color: #ecf0f1;
  background-color: #444034;
}

.reset:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.reset:hover {
  box-shadow: rgba(0, 255, 55, 0.4) 0 4px 8px,
    rgba(30, 62, 35, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}
