input {
  width: 15rem;
  padding: 0.5rem;
  margin: 0.3rem;
  border-radius: 3rem;
  text-align: center;
  border: 1px solid gray;
  border-color: #34495e;
}

.reset-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #34495e;
  margin: 1.5rem;
  padding: 1.5rem;
  background-color: white;
  border-radius: 3rem;
  background-color: #ecf0f186;
  border-left: 1px solid #7f8c8d;
  border-top: 1px solid #7f8c8d;
}

.reset {
  align-items: center;
  appearance: none;
  background-color: #ecf0f1;
  border-radius: 5px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #34495e;
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 1rem;
  margin: 0.7rem;
  color: #ecf0f1;
  background-color: #444034;
}
