header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem auto;
  padding: 2rem;
  width: 90vw;
  height: 0.1vw;
  background-color: #34495e;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.392);
  border-radius: 3rem;
  color: #7f8c8d;
}

.control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.log-out-img {
  width: 1.5em;
}

.log-out {
  border: none;
  background-color: #ecf0f1;
  border-radius: 5em;
  padding: 1em;
  margin: 0.3em;
  width: 4rem;
  height: 4em;
  transition: 0.3s;
}

.log-out:hover {
  border: 1px solid rgb(151, 146, 146);
  background-color: #bdc3c7;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf0f1;
  color: #34495e;
  padding: 0.7rem;
  height: 2vh;
  border-radius: 5rem;
  font-size: 1.2rem;
  font-weight: 400;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem auto;
  width: 90%;
  flex-grow: 1;
}

.verify-box {
  align-items: center;
  justify-content: center;
  width: 100%;
}

.vid-btn {
  flex-direction: row;
  margin-top: 2rem;
}

.vidElem {
  display: flex;
  width: 50vw;
  height: auto;
  border-radius: 6rem;
  transition: 0.5s;
}

.overlay-text {
  position: absolute;
  color: #ecf0f1;
  background: #8a9298;
  padding: 2.5rem;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: bold;
  pointer-events: none;
}


.tok-manual button,
.no-qr-btn,
.vote-submit-box button,
.start-scan,
.stop-scan {
  align-items: center;
  appearance: none;
  background-color: #ecf0f1;
  border-radius: 5px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #34495e;
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 1.2rem;
  margin: 0.5rem;
}

.tok-manual button {
  margin: 0.7rem;
  color: #ecf0f1;
  background-color: #444034;
}


.tok-manual button:focus,
.no-qr-btn:focus,
.vote-submit-box button:focus,
.start-scan:focus,
.stop-scan:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}


.tok-manual button:hover,
.no-qr-btn:hover,
.vote-submit-box button:hover,
.start-scan:hover {
  box-shadow: rgba(0, 255, 55, 0.4) 0 4px 8px,
    rgba(30, 62, 35, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.stop-scan:hover {
  box-shadow: rgba(255, 0, 0, 0.4) 0 4px 8px,
    rgba(200, 26, 26, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}


.tok-manual button:active,
.no-qr-btn:active
.vote-submit-box button:active,
.start-scan:active,
.stop-scan:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d35400;
  border-radius: 1rem;
  padding: 1rem;
}

.question-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.terms,
.thanks-message {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.vote-box {
  flex-direction: column;
  max-width: 70vw;
  min-width: 35vw;
  margin: 1rem;
  padding: 2rem;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.vote-submit-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


  .radio-wrapper-19 input[type="radio"]:focus {
    outline: 0;
    border-color: #7f8c8d;
    box-shadow: 0 0 0 4px #bdc3c7;
  }

  .tok-manual input{
    padding: 0.8rem;
    border-radius: 1rem;
    max-width: 20vw;
    min-width: 16vw;
    width: auto;
  }
  
  .radio-wrapper-19 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    justify-content: center;
    margin: 2rem;
  }
  
  .radio-wrapper-19 input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  .radio-wrapper-19 input[type="radio"]:checked + span {
    box-shadow: 0 0 0 0.0625em #041e6081;
    background-color: #baddf4;
    z-index: 1;
    color: #021324;
  }
  
  .radio-wrapper-19 label span {
    display: block;
    cursor: pointer;
    background-color: #ecf0f1;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: .05em;
    color: #34495e;
    text-align: center;
    transition: background-color .5s ease;
  }
  
  .radio-wrapper-19 label:first-child span {
    border-radius: .375em 0 0 .375em;
  }
  
  .radio-wrapper-19 label:last-child span {
    border-radius: 0 .375em .375em 0;
  }      


#current-el {
  font-size: 1rem;
  margin: 2rem;
}

@media (max-width: 1023px) {
  header {
    width: 80%;
  }


  .radio-wrapper-19 {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    justify-content: center;
    margin: 2rem;
  }


  .tok-manual {
    flex-direction: column;
  }

  .tok-manual input,
  input {
    width: auto;
    max-width: 70vw;
  }

  .vid-btn {
    flex-direction: column;
  }

  .user-info {
    height: 2.5vh;
    font-size: 0.6rem;
  }

  .vidElem {
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }

  .overlay-text {
    position: absolute;
    color: white;
    background: rgba(0, 0, 0, 0.497);
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  header {
    width: 80%;
  }

  .user-info {
    height: 2.5vh;
    font-size: 1.5rem;
  }
}
