<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/global.css" />
    <link rel="stylesheet" href="../styles/dashboard.css" />
    <link rel="stylesheet" href="../styles/message.css" />
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
  </head>
  <body>
    <div class="see-user-box hidden">
      <h3 class="titles">Create User</h3>
      <div class="create-user-cont">
        <input class="name" type="text" placeholder="Name" />
        <input class="email" type="text" placeholder="Email" />
        <input class="password" type="text" placeholder="Password" />
        <select name="role" id="role">
          <option value="admin">Admin</option>
          <option selected value="voter">Voter</option>
        </select>
        <button class="create-user-btn">Create User</button>
      </div>
      <h3 class="titles">Users List</h3>
      <div class="user-content">
        <button class="close-btn-user">
          <img
            class="close-img"
            src="../../img/admin/dashboard/circle-xmark.png"
            alt="close"
          />
        </button>
        <div class="users-list"></div>
      </div>
    </div>
    <div class="one-election hidden">
      <div class="cont-one-el">
        <div class="one-el-form"></div>
        <div class="one-el-btns">
          <button class="add-topic">Add Topic</button>
          <button class="delete-el-btn">Delete Election</button>
          <button class="update-el">Update Election</button>
        </div>
      </div>
    </div>
    <div class="add-election hidden">
      <div class="content">
        <button class="close-btn">
          <img
            class="close-img"
            src="../../img/admin/dashboard/circle-xmark.png"
            alt="close"
          />
        </button>
        <div class="election-form show">
          <h1>Add Election Info</h1>
          <form class="add-election-form">
            <div class="election-name show">
              <h4>Election Name</h4>
              <input
                class="election-name-input"
                type="text"
                name="elName"
                placeholder="Add Election Name"
              />
            </div>
            <div class="topic show">
              <h4>Topic</h4>
              <input
                class="topic-input"
                type="text"
                name="topic"
                placeholder="Add Topic"
              />
            </div>
            <div class="options show">
              <h4>Options</h4>
              <input
                class="option-input-1 option-input"
                type="text"
                name="option"
                placeholder="Add Option"
              />
              <input
                class="option-input-2 option-input"
                type="text"
                name="option"
                placeholder="Add Option"
              />
            </div>
            <div class="extra-options"></div>
            <button class="add-option-btn show">
              <img
                class="add-option-img"
                src="../../img/admin/dashboard/square-plus.png"
                alt="add option"
              />Add Option
            </button>
            <div class="button-box show">
              <button class="next-btn show">
                <img
                  class="next-img"
                  src="../../img/admin/dashboard/arrow-alt-circle-right (1).png"
                  alt="next field"
                />
              </button>
              <button class="submit-btn hidden">
                <img
                  class="submit-img"
                  src="../../img/admin/dashboard/floppy-disks.png"
                  alt="submit election"
                />
              </button>
            </div>
            <div class="added-info">Elections Form Is Clear</div>
          </form>
        </div>
      </div>
    </div>
    <header>
      <div class="header-left">
        <h4 class="page-title">Admin Dashboard</h4>
        <div class="user-info"></div>
      </div>
      <div class="control-btn">
        <button class="system">
          <img
            class="system-img"
            src="../../img/admin/dashboard/settings-sliders.png"
            alt="settings"
          />
        </button>
        <button class="log-out">
          <img
            class="log-out-img"
            src="../../img/admin/dashboard/exit.png"
            alt="log-out"
          />
        </button>
      </div>
    </header>
    <main>
      <div class="main-buttons">
        <button class="add-election-btn">
          <img
            src="../../img/admin/dashboard/square-plus.png"
            class="add-btn-img"
            alt="add-election"
          />ADD ELECTION
        </button>
        <button class="users-btn">
          <img
            class="users-img"
            src="../../img/admin/dashboard/user-pen.png"
            alt="see users"
          />USERS
        </button>
        <div class="access-box">
          <button class="gen-qr-btn">
            <img
              class="gen-qr-img"
              src="../../img/admin/dashboard/qr.png"
            />Generate QR Codes
          </button>
          <button class="get-qr-btn">
            <img
              class="get-qr-img"
              src="../../img/admin/dashboard/file-download.png"
            />Get Access Codes
          </button>
        </div>
        <div class="res-box">
          <button class="get-res-btn">
            <img
              class="get-res-img"
              src="../../img/admin/dashboard/chart-pie.png"
            />Get Results
          </button>
        </div>
      </div>
      <div class="tools-box">
        <h3 class="tool-name">Tools Area</h3>
        <div class="tool-cont"></div>
        <div class="tok-count-box hidden">
          <input disabled class="tok-count" value="" />
          <input disabled class="tok-used" value="" />
          <input disabled class="tok-valid" value="" />
        </div>
        <div class="el-res"></div>
        <div class="generated"></div>
      </div>
      <div class="election-box">
        <div class="election-title">
          <h4>Elections</h4>
        </div>
        <div class="election-list"></div>
      </div>
    </main>
    <div class="message hidden"></div>
    <script type="module" src="../api/accessCodes.js"></script>
    <script type="module" src="../../admin/dashboard.js"></script>
    <script type="module" src="../api/users.js"></script>
  </body>
</html>
