<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/global.css" />
    <link rel="stylesheet" href="../styles/voter.css" />
    <link rel="stylesheet" href="../styles/message.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
    <title>Qirvex™ | Voter Portal</title>
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Qirvex™" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <meta
      name="description"
      content="Securely access your voter dashboard and participate in the Qirvex™ election system."
    />
  </head>
  <body>
    <header>
      <div class="header-left">
        <div class="user-info"></div>
      </div>
      <div class="control-btn">
        <button class="log-out">
          <img
            class="log-out-img"
            src="../../img/admin/dashboard/exit.webp"
            alt="log-out"
          />
        </button>
      </div>
    </header>
    <main>
      <div class="tok-manual hidden">
        <input class="manual-tok-inp" type="text" placeholder="Enter Token" />
        <button class="enter-tok">Submit</button>
      </div>
      <div class="vote-box hidden">
        <h3 class="user-info" id="current-el"></h3>
        <div class="vote-submit-box"></div>
      </div>
      <div class="verify-box show">
        <video class="vidElem"></video>
        <div class="overlay-text">
          Please prepare your QR token and press "Start"
        </div>
      </div>
      <div class="vid-btn show">
        <button class="start-scan">Start Scanner</button>
        <button class="stop-scan hidden">Stop Scanner</button>
        <button class="no-qr-btn">I don`t Have QR code</button>
      </div>
    </main>
    <iframe title="Qirvex-Branding" src="../../Qirvex-Branding-Kit/footer-compnent.html"></iframe>
    <div class="message hidden"></div>
    <script type="module" src="../api/vote.js"></script>
    <script type="module" src="../../lib/qr-scanner.min.js"></script>
  </body>
</html>
