.message {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0rem;
  top: 2rem;
  padding: 1rem;
  width: auto;
  height: 8rem;
  font-weight: 500;
  font-size: 1.4rem;
  background-color: white;
  border-radius: 20rem;
  border-top-right-radius:0rem ;
  border-bottom-right-radius: 0rem;
  box-shadow: rgba(15, 15, 13, 0.319) 0px 5px 15px;
  transition: 0.2s;
}

.hidden {
  display: none;
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.show {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.OK {
  border: 2px solid rgb(28, 205, 49);
  border-right: none;
}

.error {
  border: 2px solid rgb(255, 0, 0);
  border-right: none;
}